source https://www.nuget.org/api/v2

framework: >= net461, netstandard2.0, netcoreapp3.1
nuget Expecto
nuget FAKE ~> 4.64.11
nuget FSharp.Core ~> 4.6.0
nuget System.Reflection.Emit ~> 4.7.0

nuget System.Security.Principal.Windows framework: >= netcoreapp2.0, netstandard2.0
